@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
  --color-bg: #0B0F19;
  --color-primary: #6366F1;
  --color-white: #fff;
  --color-text-heading: #fff;
  --color-text-body: rgba(255,255,255,0.7);
  --color-gray-700: #565973;
  --color-gray-600: #9397AD;
  --color-gray-100: #F3F6FF;
  --color-white-gray: rgba(255,255,255,0.05);
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  margin: 0px;
  padding: 0px;
  color: var(--color-white);
}

p {
  margin: 0px;
  padding: 0px;
  color: var(--color-text-body)
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0px;
  max-width: 1920px;
  background-color: var(--color-bg);
  color: var(--color-text-body);
}

/* HEADER START */
.header-container {
    height: 876px;
    width: 1920px;
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 50%, rgba(19,16,34,0) 100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 76px;
    margin: 0px 312px 0px 312px;
}

.header-box {
    display: flex;

      > a:first-child {
          margin-top: 16px;
          width: 122px;
          height: 44px;
      }
}

.menu-container {
    width: 68px;
    height: 26px;
    margin-top: 25px;
    margin-left: 48px;

      a {
          font-size: 16px;
          line-height: 160%;
          font-weight: 600;
          text-decoration: none;
          color: var(--color-text-body);
      }
}

.toggleSwitchContainer {
    display: flex;
    align-items: center;
    width: 143px;
    height: 26px;
    margin-top: 25px;

      p {
          font-size: 16px;
          line-height: 160%;
          font-weight: 600;
          width: 81px;
          height: 26px;
          margin-right: 16px;
          color: var(--color-gray-700);
      }
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;

      input { 
          opacity: 0;
          width: 0;
          height: 0;
      }
      .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--color-gray-600);
          -webkit-transition: .4s;
          transition: .4s;
      }
      .slider:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 2px;
          bottom: 2px;
          background-color:var(--color-white);
          -webkit-transition: .4s;
          transition: .4s;
      }
      .slider.round {
          border-radius: 34px;
      }
      .slider.round:before {
          border-radius: 50%;
      }
}

.toggleSwitchContainer input:checked + .slider {
    background-color: var(--color-primary);
}

.toggleSwitchContainer input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.btn-header {
    display: flex;
    text-wrap: nowrap;
    align-items: center; 
    gap: 8px;
    width: 140px;
    height: 36px;
    background-color: var(--color-primary);
    margin-top: 20px;
    margin-left: 32px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;

      img {
          height: 18px;
          width: 18px;
          padding-left: 12px;
      }
      span {
          color: var(--color-white);
          font-weight: 600;
          line-height: 160%;
          font-size: 16px;
      }
}

.btn-header:hover {
    background-color: var(--color-gray-700);
}

.header-content-container {
    margin: 0px 312px 0px 312px;
    display: flex;
    justify-content: space-between;

      > div:last-child {
          margin-top: 112px;
      }
}

.title-container {
    width: 526px;
    height: 328px;
    margin-top: 148px;

      h1 {
          width: 526px;
          height: 146px;
          font-size: 56px;
          font-weight: 800;
          line-height: 130%;
      }
      p {
          width: 526px;
          height: 58px;
          font-size: 18px;
          font-weight: 400;
          line-height: 160%;
          margin-top: 24px;
      }
}

.store-btn-container {
    display: flex;
    gap: 24px;
    width: 384px;
    height: 52px;
    margin-top: 48px;

      .app-store-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 180px;
          height: 52px;
          border: 0px;
          border-radius: 8px;
          cursor: pointer;
          background-color: var(--color-gray-100);
      }
      .app-store-btn:hover {
          background-color: var(--color-gray-600);
      }
}

.more-btn {
    display: flex;
    align-items: center;
    width: 152px;
    height: 44px;
    margin-top: 216px;

      a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          border-radius: 40px;
          background-color: var(--color-white-gray);
          border: none;
      }
      img {
          width: 24px;
          height: 24px;
      }
      span {
          height: 22px;
          width: 92px;
          font-size: 14px;
          font-weight: 400;
          line-height: 160%;
          margin-left: 16px; 
      }
}
/* HEADER END */

/* LOGOS START*/
.logos-container {
    margin: 96px 312px 0px 312px;
    width: 1296px;
    height: 100px;
    display: flex;
    justify-content: space-between;

      div {
          border:1px solid #2F333B;
          border-radius: 8px;
          display: grid;
          align-items: center;
          justify-content: center;
          width: 196px;
          height: 100px;
      }
      div:last-child {
          background-color: #151822;
      }
}
/* LOGOS END*/

/*APP-FEATURES START*/
.app-features-container {
    width: 1296px;
    height: 684px;
    margin: 112px 312px 0px 312px;
    display: flex;
    justify-content: space-between;

      img {
          width: 348px;
          height: 684px;
      }
      .app-text-container {
          width: 746px;
          height: 640px;
      }
      h1 {
          width: 259px;
          height: 52px;
          font-size: 40px;
          font-weight: 800;
          line-height: 130%;
      }
      section {
          width: 746px;
          height: 58px;
          font-size: 18px;
          font-weight: 400;
          line-height: 160%;
          margin-top: 10px;
          color: var(--color-text-body);
      }
}

.icon-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 56px;
    margin-top: 70px;
    row-gap: 48px;

      img {
          width: 60px;
          height: 60px;
          margin-right: 24px;
      }
      .iconBox {
          width: 345px;
          height: 118px;
          display: flex;
      }
      h2 {
          width: 261px;
          height: 28px;
          font-size: 20px;
          font-weight: 800;
          line-height: 140%;;
      }
      p {
          width: 261px;
          height: 78px;
          font-size: 16px;
          font-weight: 400;
          line-height: 160%;
          margin-top: 12px;
      }
}
/*APP-FEATURES END*/

/*SLIDER-START*/
.slider-container {
    width: 1920px;
    height: 1077px;
    margin-top: 112px;
    background-color: #151822;

      .slider-title {
          display: flex;
          justify-content: center;
          padding-top: 80px;
              
            h1 {
                width: 670px;
                height: 52px;
                font-size: 40px;
                font-weight: 800;
                line-height: 130%;
                text-align: center;
            }
      }
}

.carousel-container {
    width: 1184px;
    height: 801px;
    margin: 48px 368px 0px 368px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

      input[type="radio"] {
          display: none;
      }
      .card {
          position: absolute;
          width: 328px;
          height: 663px;
          left: 0;
          right: 0;
          margin: auto;
          transition: transform 0.4s ease;
          cursor: pointer;
      }
      .cards {
          position: relative;
          width: 328px;
          height: 663px;

            img {
              width: 328px;
              height: 663px;
              object-fit: cover;  
            }
      }
}

#item-1:checked ~ .cards #img-3,
#item-2:checked ~ .cards #img-1,
#item-3:checked ~ .cards #img-2 {
    transform: translatex(-100%);
    opacity: 0.4;
    margin-right: 100px;
    z-index: 0;
}

#item-1:checked ~ .cards #img-2,
#item-2:checked ~ .cards #img-3,
#item-3:checked ~ .cards #img-1 {
    transform: translatex(100%);
    opacity: 0.4;
    margin-left: 100px;
    z-index: 0;
}

.texts {
    margin-top: 40px;
    width: 636px;
    height: 98px;

      .texts2 {
          position: relative;
          display: flex;
          align-items: center;
          overflow: hidden;
          height: 98px;
      }
      .title-info {
          width: calc(100%);
          display: block;
          height: 98px;

            .titleText {
                color: var(--color-white);
                font-size: 24px;
                font-weight: 800;
                line-height: 140%;
                text-align: center;
                margin-bottom: 12px;
                height: 34px;
            }
      }
      .sub-line {
          display: flex;
          justify-content: center;
      }
      .paragraphText {
          font-size: 16px;
          font-weight: 400;
          line-height: 160%;
          color: var(--color-text-body);
          text-align: center;
          width: 636px;
          height: 52px;
      }
      .info-area {
          width: 100%;
          position: absolute;
          top: 0;
          transition: transform 0.2s ease-in;
      }
}

#item-2:checked ~ .texts #test {
    transform: translateY(0);
}

#item-2:checked ~ .texts #test {
    transform: translateY(-98px);
}

#item-3:checked ~ .texts #test {
    transform: translateY(-196px);
}
/*SLIDER-END*/

/*FEATURES-START*/
.features-container {
    margin: 112px 422px 0px 422px;
    width: 1076px;
    height: 1080px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 80px;

      .features-section-one {
          width: 1076px;
          height: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;

            .img-section-one {
                width: 526px;
                height: 500px;
            }
      }
      .features-section-two {
          width: 1076px;
          height: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;

            .img-section-two {
                width: 528px;
                height: 500px;
            }
      }
}

.btn-feature {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 44px;
    background-color: var(--color-primary);
    margin-top: 40px;
    gap: 8px;
    border: 0px;
    border-radius: 6px;
    text-decoration: none;

      span {
          color: var(--color-white);
          font-size: 14px;
          font-weight: 600;
          line-height: 160%;
      }
      img {
          width: 20px;
          height: 20px;
      }
}

.btn-feature:hover {
    background-color: var(--color-gray-700);
}

.text-area-one {
    width: 416px;
    height: 302px;

      h1 {
          width: 416px;
          height: 84px;
          font-size: 32px;
          font-weight: 800;
          line-height: 130%;
      }
      ul {
          width: 341px;
          height: 102px;
          color: var(--color-text-body);
          list-style-type: none;
          margin: 32px 0px 0px 0px;
          padding-left: 0px;
      }
      li {
          background-image: url(/img/icons/bx-check-circle.svg);
          background-repeat: no-repeat;
          background-position-y: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 160%;
          padding-left: 28px;
      }
      ul > * + * {
          margin-top: 12px;
      }
}

.text-area-two {
    width: 526px;
    height: 362px;

      h1 {
          width: 526px;
          height: 84px;
          font-size: 32px;
          font-weight: 800;
          line-height: 130%; 
      }
      .icon-box {
          width: 526px;
          height: 154px;
          margin: 40px 0px 0px 0px;
          display: flex;
          justify-content: space-between;

            div {
                width: 243px;
                height: 154px;
                margin: 0px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                margin: 16px 0px 0px 0px;
                height: 78px;
                width: 243px;
            }
      }
}
/*FEATURES-END*/

/*TESTIMONIALS-START*/
.testimonials-container {
    width: 1920px;
    height: 542px;
    background-color: #151822;
    margin-top: 112px;
    display: flex;

      h1 {
          width: 306px;
          height: 104px;
          margin: 80px 0px 0px 312px;
          font-size: 40px;
          font-weight: 800;
          line-height: 130%;
      }
      h2 {
          width: 194px;
          height: 26px;
          margin-left: 16px;
          font-size: 16px;
          font-weight: 700;
          line-height: 160%;
      }
}

.quote-boxes-container {
    width: 856px;
    height: 350px;
    margin: 80px 0px 0px 134px;
    display: flex;
    justify-content: space-between;

      .text-boxes {
          display: inline-block;
          width: 416px;
          height: 350px;
      }
      .quote-icon-box {
          width: 44px;
          height: 44px;
          background-color: var(--color-primary);
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 24px;
          position: relative;
          z-index: 1;
      }
}

.review-box {
  width: 416px;
  height: 329px;
  border-radius: 8px;
  margin-top: -21px;
  background-color: #1E212B;

      .star-img {
          width: 88px;
          height: 16px;
          margin: 48px 0px 0px 24px;
      }
      p {
          width: 368px;
          height: 145px;
          margin: 24px 0px 0px 24px;
          font-size: 18px;
          font-weight: 400;
          line-height: 160%;
      }
      .author-box {
          width: 258px;
          height: 48px;
          display: flex;
          margin: 24px 0px 0px 24px;

            img {
                width: 48px;
                height: 48px;
            }
      }
      span {
          width: 194px;
          height: 22px;
          font-size: 14px;
          font-weight: 400;
          line-height: 160%;
          color: var(--color-text-body);
          margin-left: 16px;
      }
}
/*TESTIMONIALS-END*/

/*FAQ-START*/
.faq-container {
    width: 1297px;
    height: 600px;
    margin-top: 112px;
    margin: 112px 311px 0px 311px;
    display: flex;
    justify-content: space-between;

      .faq-left-container {
          width: 417px;
          height: 380px;
      }
      .faq-title {
          width: 416px;
          height: 174px;

            h1 {
                width: 415px;
                height: 84px;
                font-size: 32px;
                font-weight: 800;
                line-height: 130%;
            }
            p {
                width: 416px;
                height: 58px;
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                margin-top: 32px;
            }
      }
}

.contact-box-container {
    display: flex;
    justify-content: space-between;

      .contact-Box {
          width: 196px;
          height: 166px;
          border: 1px solid #2F333B;
          border-radius: 8px;
          margin: 40px 0px 0px 0px;

            .title-box {
                width: 148px;
                height: 66px;
                margin: 24px 0px 0px 24px;

                  p {
                      width: 148px;
                      height: 22px;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 160%;
                      margin: 16px 0px 0px 0px;
                  }
            }
      }
}

.contact-btn {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 8px;
    width: 103px;
    height: 44px;
    margin: 8px 0px 0px 24px;
    text-decoration: none;

      span {
          width: 75px;
          height: 22px;
          font-size: 14px;
          font-weight: 600;
          line-height: 160%;
      }
      span:hover {
          text-decoration: underline;
      }
      img {
          height: 20px;
          width: 20px;
      }
      .primary-color {
          color: var(--color-primary);
      }
      .green-color {
          color: #22C55E;
      }
}

.accordion-container {
    width: 746px;
    height: 600px;

      input {
          position: absolute;
          opacity: 0;
          z-index: -1;
    }
  .collapsible-accordion {
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: 746px;
}
.collapsible-accordion:last-child {
    margin-bottom: 0px;
}
}
.collapsible-item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 160%;
    font-weight: 600;
    height: 36px;
    padding: 16px 24px 16px 24px;
    cursor: pointer;
    background: #151822;
    color: var(--color-text-heading);
}
.collapsible-item-label::after {
    content: url(/img/icons/chevron3.svg);
    background-color: #1E212B;
    width: 36px;
    height: 36px;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    transition: all 0.35s;
}
.collapsible-item-content {
    max-height: 0;
    background-color: #151822;
    font-size: 14px;
    line-height: 160%;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--color-text-body);
}

input:checked + .collapsible-item-label::after {
    transform: rotate(180deg);
    background-color: var(--color-primary);
    line-height: 40px;
}

input:checked ~ .collapsible-item-content {
    min-height: 88px;
    padding-left: 24px;
    padding-bottom: 24px;
}
/*FAQ-END*/

/*SUBSCRIBE-START*/
.subscribe-container {
    display: flex;
    align-items: center;
    width: 1296px;
    height: 222px;
    background-color: #151822;
    border-radius: 8px;
    margin: 112px 312px 0px 312px;

      .subscribe-title {
          display: flex;
          align-items: center;
          width: 526px;
          height: 78px;
          margin-left: 110px;
      }
      h1 {
          width: 416px;
          height: 68px;
          font-size: 24px;
          font-weight: 800;
          line-height: 140%;
          margin-left: 32px;
      }
}

.subscribe-email {
    position: relative;
    border: 1px solid #42464D;
    border-radius: 8px;
    width: 472px;
    height: 52px;
    overflow: hidden;
    margin-left: 78px;

      .text-input {
          height: 52px;
          width: 286px;
          padding: 0px 0px 0px 44px;
          border: none;
          font-size: 16px;
          line-height: 160%;
          background: url(/img/icons/envelope.svg) no-repeat 16px 16px;
          background-color: #1A1D26;
          color: #75777D;
      }
      .text-input:focus {
          outline: none;
      }
      .subButton {
          position: absolute;
          height: 52px;
          width: 142px;
          color: white;
          background-color: var(--color-primary);
          border: none;
          font-size: 16px;
          line-height: 160%;
          font-weight: 600;
          cursor: pointer;
      }
      .subButton:hover {
          text-decoration: underline;
      }
}
/*SUBSCRIBE-END*/

/*FOOTER-START*/
.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 129px;

      p {
        width: 856px;
        height: 19px;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: var(--color-text-body);
        display: flex;
        align-items: center;
        justify-content: center;
      }
}
/*FOOTER-END*/